<ion-header>
  <ion-toolbar>
    <ion-title>
      Perfil de Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Foto de perfil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-avatar>
          <ion-icon name="person-outline"></ion-icon>
        </ion-avatar>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <!-- bloque -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>NOMBRE</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Alexis</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <!-- bloque -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Apellido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Sanchez</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <!-- bloque -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Numero de Teléfono</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>912**4545</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <!-- bloque -->
    <!-- bloque -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Correo Electronico</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>duocuc@duocuc.cl</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
</ion-content>

