<app-encabezado titulo="Solicitar Viaje"></app-encabezado>

<ion-content [fullscreen]="true">
  <div id="page-background" class="ion-align-items-center">
    <ion-grid class="page-image">
      <ion-row>
        <ion-col size="12">
          <img src="../../../assets/img/google_maps.jpg" alt="te_llevo_logo" class="page-image">
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button  (click)="onClick('detalle-viaje')" expand="block" color="primary">
      Solicitar
    </ion-button>
  </div>
  
</ion-content>
