<app-encabezado titulo="Detalle del viaje"></app-encabezado>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Destino</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          <p>Comienzo: </p>
          <p>Destino: </p>
          <p>Conductor: </p>
          <p>Vehiculo: </p>
          <p>Cantidad max. de pasajeros: </p>
          <p>Asientos ocupados: </p>
          <p>Precio: </p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="onClick('pago')">Confirmar</ion-button>
</ion-content>

