<app-encabezado titulo="Inicio"></app-encabezado>

<ion-content class="ion-padding">
  <ion-text color="warning">
    <h1>Adonde Te Llevo </h1>
    
  </ion-text>

  <ion-button (click)="onClick('perfil')" expand="full" color="primary">
    Perfil del Usuario
  </ion-button>
  <ion-button (click)="onClick('solicitar-viaje')" expand="full" color="primary">
    Solicitar Viaje
  </ion-button>
  <ion-button (click)="onClick('detalle-viaje')" expand="full" color="primary">
    Detalles del Viaje
  </ion-button>
  <ion-button (click)="onClick('viaje-conductor')" expand="full" color="primary">
    Viaje Conductor
  </ion-button>
</ion-content>



