<app-encabezado titulo="Registrarse"></app-encabezado>

<ion-content>
  <h3>Iniciar Sesión</h3>
  <form [formGroup]="loginForm"  >
    <ion-item>
      <ion-input  formControlName="user" labelPlacement="floating" label="User"  type="user" aria-label="Nombre de Usuario" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input  formControlName="email" labelPlacement="floating" label="Correo"  type="Email" aria-label="Email" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="password" labelPlacement="floating" label="Password"  type="password" aria-label="password"></ion-input>
    </ion-item>
    <ion-button  (click)="onsubmit()" expand="full" color="primary" type="submit" class="ion-padding" [disabled]="loginForm.invalid" >
      Registrarse
    </ion-button>
  </form>
  
</ion-content>
