<app-encabezado titulo="Pago"></app-encabezado>

<ion-content>
  <!-- Información del Viaje -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pago</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          <p>Comienzo: </p>
          <p>Destino: </p>
          <p>Cantidad de pasajeros: </p>
          <p>Precio Total: </p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full">Confirmar pago</ion-button>
</ion-content>